@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
  scroll-behavior: smooth;
  font-family: Roboto, sans-serif;
}

#container {
  width: 100vw;
  height: 100vh;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(34, 34, 34, 1) 100%);
  overflow-x: hidden;
}

header {
  display: inline-flex;
  gap: 40px;
  align-items: center;
  width: 100%;
  justify-content: center;
  padding: 20px;
  background-color: #333;
  font-size: 32px;
  font-weight: 500;
  text-decoration: none;
  position: fixed;
}

header a {
  color: var(--bs-indigo)
}

header a:hover {
  transition: all .4s ease-out;
  color: blueviolet;
}

#first__floor {
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  height: 100vh;
  width: 100%;
  align-items: center;
}

#image img {
  width: 550px;
  height: 550px;
  border-radius: 50%;
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 5px 5px rgba(0, 0, 0, 0);
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 5px 5px rgba(0, 0, 0, 0);
}

#infos {
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 1.5;
}

#infos img {
  width: 50px;
}

#infos p,
h2 {
  margin: 0px;
}

.hards {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
  border-top: 1px solid white;
  padding: 10px;
}

#infos h2,
p {
  color: var(--bs-gray-400);
}

.nome {
  font-weight: 700;
  color: var(--bs-indigo);
}

#second__floor {
  display: flex;
  background-color: var(--bs-indigo);
  height: 75vh;
  z-index: 1;
  align-items: center;
  justify-content: center;
}

.cards__technology {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: 30px 0;
  align-items: stretch;
}

.card__container {
  flex: 1;
  text-align: center;
  box-shadow: 2px 2px 5px rgb(0 0 0 / 20%);
  margin: 10px;
  background-color: var(--bs-black);
  border-radius: 10px;
}

.card__title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 15px 10px;
  color: white;
  font-weight: 700;
  border-bottom: 1px solid var(--bs-indigo);
}

.card__content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card__content a {
  color: var(--bs-gray-400);
  text-decoration: none;
}

.card__technology {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid var(--bs-indigo);
  padding: 8px;
}

.card__technology:hover {
  transition: all .2s ease-out;
  color: var(--bs-white);
  font-weight: 700;
}

#third__floor {
  padding: 50px;
  height: 60vh;
}

#third__floor h2 {
  text-align: center;
  color: var(--bs-indigo)
}

.cards__projects {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
  text-align: center;
  color: var(--bs-black);
}

.card__projects {
  padding: 15px;
  
}

.card__projects:hover p {
  color: white;
}

.card__projects:hover {
  background: #000000;
  z-index: 1;
  transition: all 1s ease-out;
  border-radius: 2rem;
}

.cards__projects p {
  margin-top: 1rem;
  margin-bottom: 0;
  font-size: 20px;
}

.card__projects img {
  width: 200px;
  height: 200px;
}

.rodape {
  text-align: center;
  padding: 5px;
  color: var(--bs-gray-400);
  font-size: 16px;
  bottom: 0;
}