header {
  display: flex;
  justify-content: space-between;
  item-align: center;

  height: 72px;
}

nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  border-bottom: 1px solid #242424;
  z-indeX: 10;
  background-color: #111111;


  width: 100vw;
  padding: 0px 16px;
}
nav ul {
  display: flex;

  list-style: none;
  align-items: center;
  margin-right: 20px;
}
nav li {
  padding: 0px 24px;
}
nav .links {
  text-decoration: none;
  color: #f69999;
}
nav .links:hover {
  color: #f05353;
  font-weight: bold;
  background: #2e2e2e;
  padding: 8px 0px;
  border-radius: 0.2rem;
}
nav img {
  width: 72px;
  height: 72px;
  padding-top: 8px;
}
.img-toggle img {
  width: 32px;
  height: 32px;
}
.img-toggle {
  display: none;
}
.menu-mobile {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  
  position: absolute;
  z-index: 1;
  top: 0;
  padding: 16px 32px 16px 16px;
  background-color: #2e2e2e;
  overflow-x: hidden;
  gap: 16px;
}
.menu-mobile-img {
  width: 100%;
  text-align: right;
}
.menu-mobile ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #f05353;
  gap: 32px;
  width: 50%;
}
.menu-mobile li {
  color: #f05353;
  font-size: 24px;
  border-bottom: 1px solid #FFF;
}
@media (max-width: 767px) {
  header > nav > a {
    display: flex;
  }

  nav {
    padding: 0;
    justify-content: space-between;
    margin: 0 16px;
    align-items: center;
  }
  nav ul {
    margin-right: 0;
  }
  .menu-desktop {
    display: none;
  }
  .img-toggle {
    display: flex;
  }
}
