header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  border-bottom: 1px solid #242424;
  z-index: 10;
  background-color: #111111;

  width: 100vw;
  padding: 0px 16px;
}

nav ul {
  display: flex;

  list-style: none;
  align-items: center;
  margin-right: 20px;
  gap: 8px;
}

nav li {
  padding: 0px 24px;
}

nav .links {
  text-decoration: none;
  color: #f69999;
}

nav .links:hover {
  border-bottom: 2px solid #f05353;
  transition: .7s all ease;

  padding: 8px 0px;
}

nav img {
  width: 72px;
  height: 72px;
  padding-top: 8px;
}

nav>div {
  display: flex;
  gap: 16px;
}

.button-flag {
  width: 48px;
  height: 48px;
  background-color: transparent;
  border: 0px;
  cursor: pointer;
  transition: .5s;
}

.button-flag:hover {
  scale: 115%;
}

.button-flag img {
  width: 100%;
  height: 100%;
  padding: 0;
}

.img-toggle img {
  width: 32px;
  height: 32px;
}

.img-toggle {
  display: none;
}

.menu-mobile {
  display: none;
  flex-direction: column;
  width: 100vw;
  height: 100vh;

  position: absolute;
  z-index: 10;
  top: 0;
  background-color: #2e2e2e;
  overflow-x: hidden;
  gap: 16px;
}

.menu-mobile-img {
  width: 100%;
  margin-left: 24px;
  margin-top: 48px;
}

.menu-mobile ul {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 80%;
  padding: 16px;
}

.menu-mobile li {
  font-size: 24px;
  border-bottom: 2px solid #f05353;
  padding-bottom: 4px;
  width: 55%;
}

.mobile-flag {
  display: flex;
  position: absolute;
  bottom: 0;
  align-items: center;
  width: 100%;
  gap: 4px;
  margin-bottom: 48px;
  flex-direction: column;
  color: white;
}

.mobile-flag > div {
  display: flex;
  gap: 32px;
}

.mobile-flag img {
  width: 64px;
  height: 64px;
}

.links.selectAtived {
  border-bottom: 2px solid #f05353;
  font-weight: bold;
  color: #f05353;
  padding: 8px 0px;
}

.links:not(.links.selectAtived) {
  color: gray;
}

@media (max-width: 767px) {
  header>nav>a {
    display: flex;
  }

  nav {
    padding: 0 16px;
    justify-content: space-between;
    align-items: center;
  }

  nav ul {
    margin-right: 0;
  }

  nav > div {
    display: none;
  }

  .menu-desktop {
    display: none;
  }

  .img-toggle {
    display: flex;
  }
}